body {
  font-family: $openSans;
  color: $black;
  font-weight: $light;
}

h1, h2, h3, h4 {
  font-family: lora;
}

h1 {
  font-size: 70px;
  line-height: 88px;
  color: $red;
  letter-spacing: -2px;
}

section {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  z-index: 1;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

strong{
  font-weight: $bold;
}

a{
  color: $red;
  text-decoration: none;
}